.nav-link {
  color: rgba(41, 42, 46, 1);
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.nav-link:hover {
  color: rgba(46, 82, 160, 1);
}

@media (max-width: 768px) {
}

/* 
<Row xs={1} md={2}>
<Col>

</Col>
</Row>
*/
